<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Indexing</title>
</head>
<body>
    <center>
    <header>
        <a href="/"><h1>Google clone</h1></a>
    </header>
    </center>

    <form style="margin-left: 37%" class="form-inline mr-auto" method="post" action="/index">
        <input class="form-control mr-sm-2" placeholder="URL" aria-label="url" type="text" name="q">
        <input class="form-control mr-sm-2" placeholder="Depth" aria-label="depth" type="number" name="depth">
        <button class="btn btn-dark" type="submit">Index</button>
    </form>

</body>
</html>