<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <center>
    <header>
        <a href="/"><h1>Google clone</h1></a>
    </header>
    </center>

    <form style="margin-left: 43%" class="form-inline mr-auto" action="/search">
        <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" name="q">
        <input type="hidden" name="p" th:value="1">
        <input type="hidden" name="sort" th:value="rel">
        <button class="btn btn-dark" type="submit">Search</button>
    </form>

    <form style="margin-left: 5%" action="/search">
        <select name="sort" onchange="this.form.submit()">
            <option disabled selected>Sorting</option>
            <option value="rel">By relevance</option>
            <option value="abc">By abc</option>
        </select>
        <input type="hidden" name="q" th:value="${q}">
        <input type="hidden" name="p" th:value="1">
    </form>

    <div style="margin-left: 5%; margin-right: 5%; margin-top: 10px" th:if="${!sites.isEmpty()}" th:each="site : ${sites}">
        <a th:href="${site.url}" th:text="${site.title}"></a>
        <div th:text="${site.url}"></div>
        <hr>
    </div>

    <div style="margin-left: 5%; margin-right: 5%; margin-top: 10px" th:if="${sites.isEmpty()}">
        <h1>Dont found</h1>
    </div>

    <div style="display: flex; justify-content: center">
        <div th:each="page : ${pages}">
            <a th:href="@{'/search?q=' + ${q} + '&p=' + ${page} + '&sort=' + ${sort}}" th:text="${page} + '&#12288;'"></a>
        </div>
    </div>
</body>
</html>